@use "colors" as *;

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 32px 32px;
  gap: 1.5rem;
  padding: 1.5rem 3.625rem 2.5rem 3.625rem;
  background: var(
    --gradient-1,
    linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%)
  );

  .result__title {
    color: $light-blue;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .result__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .result__label {
    color: $white;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .result__description {
    color: $light-blue;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .result__circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 140px;
    background-image: linear-gradient(
      180deg,
      #4d21c9 0%,
      rgba(37, 33, 201, 0) 100%,
      rgba(37, 33, 201, 0) 100%
    );
    border-radius: 50%;

    .result__value {
      color: $white;
      text-align: center;
      font-size: 3.5rem;
      font-style: normal;
      font-weight: 800;
      line-height: 4.5rem;
    }

    .result__total {
      color: $light-blue;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
}
