@use "colors" as *;

.summary {
  width: 100%;
  padding: 0 30px;

  .summary__title {
    color: var(--dark-navy, #303b59);
    font-feature-settings: "clig" off, "liga" off;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .summary__skill-list {
    display: flex;
    flex-direction: column;
    margin: auto;
    list-style-type: none;
    gap: 16px;

    .reaction {
      background: var(
        --red-95-white,
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.95) 0%,
          rgba(255, 255, 255, 0.95) 100%
        ),
        #f55
      );
    }

    .memory {
      background: var(
        --yellow-95-white,
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.95) 0%,
          rgba(255, 255, 255, 0.95) 100%
        ),
        #ffb21e
      );
    }

    .verbal {
      background: var(
        --green-95-white,
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.95) 0%,
          rgba(255, 255, 255, 0.95) 100%
        ),
        #00bb8f
      );
    }

    .visual {
      background: var(
        --blue-95-white,
        linear-gradient(
          0deg,
          rgba(255, 255, 255, 0.95) 0%,
          rgba(255, 255, 255, 0.95) 100%
        ),
        #1125d6
      );
    }
  }

  .summary__skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;

    .summary__heading {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
    }
  }

  .summary__button {
    width: 100%;
    background-color: $dark-gray-blue;
    color: $white;
    border-radius: 128px;
    border: none;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: normal;
  }
}

// .summary {
//   width: 50%;
//   display: flex;
//   flex-direction: column;
//   justify-items: center;
//   gap: 1em;

//   .summary__skill-list {
//     display: flex;
//     flex-direction: column;
//     gap: 16px;

//     .reaction {
//       background-color: $light-red-background;
//       color: $light-red;
//     }

//     .memory {
//       background-color: $orangey-yellow-background;
//       color: $orangey-yellow;
//     }

//     .verbal {
//       background-color: $green-teal-background;
//       color: $green-teal;
//     }

//     .visual {
//       background-color: $cobalt-blue-background;
//       color: $cobalt-blue;
//     }
//   }

//   .summary__skill {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     border-radius: 12px;
//   }

//   .summary__title {
//     font-size: 1.5rem;
//     color: $dark-navy;
//     font-weight: 700;
//   }

//   .summary__heading {
//     display: flex;
//     align-items: center;
//     gap: 1em;
//   }

//   .summary__button {
//     padding: 18px;
//     background-color: $dark-gray-blue;
//     color: $white;
//     border-radius: 128px;
//     border: none;
//     font-size: 1.125rem;
//     font-weight: 700;
//     line-height: normal;
//   }
// }
