@use "./assets/colors" as *;
@use "./assets/result";
@use "./assets/summary";

* {
  margin: 0;
  padding: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
  background-color: $white;
  display: flex;
  flex-direction: column;
}

.test-summary {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
