/* Primary */
/* Background */
/* Gradients */
/* Neutral */
* {
  margin: 0;
  padding: 0;
}

html,
body,
.test-summary {
  width: 100%;
  height: 100%;
}

body {
  background-color: #ffffff;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  font-feature-settings: "clig" off, "liga" off;
}

.test-summary {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1400px) {
  body {
    display: grid;
    place-content: center;
    background-color: #ecf2ff;
  }
  .test-summary {
    width: 736px;
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
    background-color: #ffffff;
  }
}
.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 32px 32px;
  gap: 1.5rem;
  padding: 1.5rem 3.625rem 2.5rem 3.625rem;
  background: var(--gradient-1, linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%));
  line-height: normal;
  font-style: normal;
}
.result .result__title {
  color: #cac9ff;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 700;
}
.result .result__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.result .result__label {
  color: #ffffff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.result .result__description {
  color: #cac9ff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.result .result__circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background-image: linear-gradient(180deg, #4d21c9 0%, rgba(37, 33, 201, 0) 100%, rgba(37, 33, 201, 0) 100%);
  border-radius: 50%;
}
.result .result__circle .result__value {
  color: #ffffff;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 4.5rem;
}
.result .result__circle .result__total {
  color: #cac9ff;
  font-size: 1rem;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 1440px) {
  .result {
    border-radius: 32px;
    padding: 2.375rem 3.375rem 3.375rem 3.375rem;
  }
  .result .result__title {
    font-size: 1.5rem;
  }
  .result .result__label {
    font-size: 2rem;
  }
  .result .result__description {
    font-size: 1.125rem;
  }
  .result .result__text {
    display: flex;
    flex-direction: column;
    gap: 0.875rem;
  }
  .result .result__circle {
    width: 200px;
    height: 200px;
  }
  .result .result__circle .result__title {
    font-size: 1.5rem;
  }
  .result .result__circle .result__value {
    font-size: 4.5rem;
  }
  .result .result__circle .result__total {
    font-size: 1.125rem;
  }
}
.summary {
  height: 100%;
  padding: 1.5rem 1.875rem 1.875rem 1.875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}
.summary .summary__title {
  color: #303b59;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.summary .summary__skill-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.summary .summary__skill-list .summary__skill {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.summary .summary__skill-list .reaction {
  color: var(--red, #f55);
  background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #f55);
}
.summary .summary__skill-list .memory {
  color: var(--yellow, #ffb21e);
  background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #ffb21e);
}
.summary .summary__skill-list .verbal {
  color: var(--green, #00bb8f);
  background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00bb8f);
}
.summary .summary__skill-list .visual {
  color: var(--blue, #1125d6);
  background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125d6);
}
.summary .summary__skill-list .summary__skill-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
.summary .summary__skill-list .summary__skill-points {
  color: #303b59;
  text-align: right;
  font-weight: 700;
  opacity: 1;
}
.summary .summary__skill-list .summary__skill-points .summary__skill-total-points {
  opacity: 0.5;
}
.summary .summary__button {
  border: none;
  border-radius: 128px;
  background: #303b59;
  color: #ffffff;
  padding: 1rem 7rem;
  font-size: 1.125rem;
  font-weight: 700;
}
.summary .summary__button:hover, .summary .summary__button:active {
  cursor: pointer;
}
.summary .summary__button:active {
  background: var(--gradient-1, linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%));
}

@media (min-width: 1440px) {
  .summary {
    height: auto;
    padding: 2.375rem 2.5rem 2.875rem 2.5rem;
  }
  .summary .summary__skill-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .summary .summary__skill-list .summary__skill {
    font-size: 1.125rem;
  }
  .summary .summary__title {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=main.css.map */
